.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1{
        text-align: center;
    }
}

.hero .hero-section{
    display: flex;
    overflow: hidden;
}

.hero-right{
    background-color: rgb(233,233,233);
    margin-left: 20px;
    padding: 20px;
    p{
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
}

.hero-left{
    display: flex;
}

.hero-left img{
    width: 200px;
    background-color: black;
    object-fit: cover;
}

@media  screen and (max-width: 768px) {
    .hero-section{
        flex-direction: row;
        position: relative;
    }    

    .hero-left img{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 30px;
        left: 10px;
    }

    .hero-right{
        margin-top: 100px;
    }
}